/*Menu*/

body{
    background-image: url(imagecoffeharvest.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
}

#div1{
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    padding-right: 80px;
}


#fieldsetcalculadora{
    background-color: white;
    width: 400px;
    height: auto;
    padding: 20px;
    border-style: none;
    border-radius: 10px;    
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.3);
    grid-template-columns: 60px 1fr;
    display: grid;
    gap: 15px;
    align-items: center;
}

#fieldsetcalculadora > div{
    grid-column: 1/-1;
}


.buttonmenu{
    width: 400px;
    height: 70px;
    border-style: none;
    border-radius: 5px;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(30, 179, 30);
    color: white;
}

.buttonmenu:hover{
    background-color: rgb(37, 131, 37);
}


/* Parte do Estilo da tela de Login*/

#titulologin {
    text-align: center;
    background-color: cadetblue;
}

#divformlogin {
    text-align: center;
    padding: 20px;
}

#fieldsetlogin{
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.15);
    grid-template-columns: 60px 1fr;
    display: grid;
    gap: 15px;
    align-items: center;
}

#fieldsetlogin > div{
    grid-column: 1/-1;
}

#emaillogin{ 
    width: 240px;
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.2)
}

#senhalogin{
    width: 240px;
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.2);
}

#botaologin{
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}


/*Parte do Estilo da tela de Criação de Conta*/

#titulocriacao {
    text-align: center;
    background-color:darkgoldenrod
}

#divformcriar{
    text-align: center;
    padding: 20px;
}


#fieldsetcriar{
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
    grid-template-columns: 60px 1fr;
    display: grid;
    gap: 15px;
    align-items: center;
}

#fieldsetcriar > div {
    grid-column: 1/-1;
}

#inputcriaremail{
    width: 240px;
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.2);
}

#inputcriarsenha{
    width: 240px;
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.2);
}

#botaocriar{
    width: 300px;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.2);
}